alabaster==0.7.12
anndata==0.7.6
attrs==19.3.0
Automat==0.8.0
Babel==2.9.1
blinker==1.4
botocore==1.21.21
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloud-init==21.1
colorama==0.4.3
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cycler==0.10.0
dbus-python==1.2.16
decorator==5.0.9
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.20.1
dunamai==1.6.0
entrypoints==0.3
fsspec==2021.7.0
get-version==3.5
h5py==3.3.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
imagesize==1.3.0
importlib-metadata==4.10.1
incremental==16.10.1
iniconfig==1.1.1
ipython-genutils==0.2.0
Jinja2==2.10.1
jmespath==0.10.0
joblib==1.0.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter-core==4.7.1
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
legacy-api-wrap==1.2
livereload==2.6.3
llvmlite==0.35.0
MarkupSafe==1.1.0
matplotlib==3.4.3
more-itertools==4.2.0
natsort==7.1.1
nbformat==5.1.2
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==2.5
numba==0.52.0
numexpr==2.7.2
numpy==1.19.5
oauthlib==3.1.0
packaging==20.9
pandas==1.2.1
pandocfilters==1.4.3
pathlib2==2.3.5
patsy==0.5.1
pexpect==4.6.0
Pillow==8.1.0
plotly==4.8.1
pluggy==0.13.1
py==1.10.0
pyarrow==1.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.20
Pygments==2.11.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrsistent==0.17.3
pyserial==3.4
pytest==6.2.2
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
pytz==2020.5
PyYAML==5.4.1
recommonmark==0.7.1
requests==2.25.1
requests-unixsocket==0.2.0
retrying==1.3.3
s3fs==0.4.2
s3transfer==0.3.4
scanpy==1.6.1
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
SecretStorage==2.3.1
service-identity==18.1.0
setuptools-scm==5.0.1
simplejson==3.16.0
sinfo==0.3.1
six==1.14.0
snowballstemmer==2.2.0
sos==4.1
sparse==0.11.2
Sphinx==4.4.0
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.3.22
ssh-import-id==5.10
statsmodels==0.12.1
stdlib-list==0.8.0
systemd-python==234
tables==3.6.1
testpath==0.4.4
threadpoolctl==2.1.0
tiledb==0.7.7
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
Twisted==18.9.0
tzlocal==2.1
ubuntu-advantage-tools==27.0
ufw==0.36
umap-learn==0.4.6
unattended-upgrades==0.1
urllib3==1.25.11
wadllib==1.3.3
webencodings==0.5.1
Werkzeug==1.0.1
xlrd==1.2.0
zipp==1.0.0
zope.interface==4.7.1
